#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.time {
  font-size: xx-large;
  font-weight: 500;
}

button {
  padding: 5px 10px;
  margin: 10px;
  color: aliceblue;
  background-color: black;
}
